body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0;
}
p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.input-wrapper {
  display: flex;
  gap: 8px;
}
input {
  height: 30px;
  border: 0;
}
input:focus {
  outline: none;
}
button {
  border-radius: 4px;
  padding: 5px 20px;
  background-color: #337ab7;
  color:#fdffff;
  font-weight: bold;
  border-style: none;
}
